# Build tools / outputs
target/
build/
out/

# IDEs e editores
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Sistema operacional
.DS_Store
Thumbs.db

# Logs e temporários
*.log
logs/
tmp/
temp/
*.tmp

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/crash.log

# Credenciais
infra/credentials/
*credentials*.json

# Variáveis sensíveis
*.tfvars
terraform.tfvars

# Configurações locais
.env
.env.*
application-local.yml
application-local.properties

# Maven / Gradle
.gradle/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Override Terraform
override.tf
override.tf.json
*_override.tf
*_override.tf.json